:root{
    --fundo-azul: #1d60eb;
    --branco: #ffffff;
    --fundo-pop: #5bffd3;
    --fundo-cinza: #6384a9;
    --azul-escuro: #1183c6;
    --fonte-p: "League Spartan";
}


/* Animação inicial - Oculta o elemento e o move para baixo */
.animate-up {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s, transform 0.6s;
  }
  
  /* Quando o elemento está visível, aplica a animação */
  .animate-up.show {
    opacity: 1;
    transform: translateY(0);
  }
  

.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


body{
    font-size: 18px;
    font-weight: 400;
    font-family: var(--fonte-p);
}

.strong-tudo{
    font-weight: 700;
}

.crq-pop h2, .crq-pop p, .crq-pop a{
    color: var(--branco);
}

/* Fundo Azul Claro */

.inicio, .rodape{
    background-color: var(--fundo-azul);
    max-width: 100%;
    height: auto;
}

/* Fundo Azul Escuro */

.palestra, .desconto, .acoes, .cursos{
    background-color: var(--azul-escuro);
    padding: 1em;
    max-width: 100%;
    height: auto;
}

/* Fundo Cinzas */

.lavo, .plus-crq{
    background-color: var(--fundo-cinza);
    padding: 1em;
    max-width: 100%;
    height: auto;
}

/* Fundo Branco */

.anos, .conheca, .numeros, .colacao, .crq-sp, .contato{
    background-color: var(--branco);
    padding: 1em;
    max-width: 100%;
    height: auto;
}

.link-rodape a{
    color: var(--branco);
}




/* Resposivo Celular */

    /* Banner de Inicio */
    .circulo{
        transform: rotate(-50deg);
        position: relative;
        top: -20px; left: -90px;
        max-width: 100%;
        height: auto;
        width: 250px;
    }

    .crq-pop{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1em;
        
    }
    
    .inicio span img{
        max-width: 100%;
        height: auto;
        width: 220px;
        position: relative;
        top: -40px;
    }

    .texto{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 0 .3em 2em;
        position: relative;
        top: -30px;
    }

    .crq-pop p, .crq-pop a{
        position: relative;
        top: -30px;
    }

    .crq-pop p{
        text-align: center;
        border: 1px solid var(--branco);
        padding: 8px 10px;
        border-radius: 15px;
        margin: .5em 0 .5em 0;
    }

    .crq-pop h1{
        font-size: 60px;
        color: var(--fundo-pop);
    }

    .crq-pop h2{
        font-size: 25px;
        text-align: center;
    }

    .crq-pop a {
        margin: 0 0 -140px 0;
    }

    .imagens{
        display: grid;
        grid: repeat(2, 270px) / auto-flow 150px;
        margin: -60px 0 20px 40px;
        padding: 1em;
        align-items: center;
        justify-content: center;
    }

    .imagens img{
        max-width: 100%;
        height: auto;
        width: 130px;
    }

    #garota, #copos{
        position: relative;
        top: 20px;
    }

    #usina{
        z-index: 2;
    }

    #bolinhas{
        max-width: 100%;
        height: auto;
        width: 250px;
        position: relative;
        top: 450px; left: -200px;
        transform: rotate(-90deg);
        z-index: 1;
    }

    /* Section sobre os 30 anos */
    .anos h2{
        text-align: center;
        color: var(--fundo-azul);
        margin: 0 0 -130px 0;
    }

    .grupo img{
        max-width: 100%;
        height: auto;
        margin: 1em 0 1em 0;
        position: relative;
    }

    #grupo{
        z-index: 2;
    }

    .grupo p{
        color: black;
        text-align: center;
    }

    .pop-{
        color: var(--fundo-pop);
    }

    .grupo{
        display: flex;
        flex-direction: column;
    }

    #circulo{
        transform: rotate(-90deg);
        position: relative;
        top: 160px; left: -90px;
        max-width: 100%;
        height: auto;
        width: 230px;
        filter: brightness(40%);
        opacity: 15%;
        z-index: 1;
    }

    /* Section sobre o POP */
    .plus-crq h2{
        text-align: center;
        color: var(--branco);
        padding: 1em;
    }

    .plus img{
        max-width: 100%;
        height: auto;
        width: 150px;
        margin: 0 0 1em 0;
    }

    .plus span{
        font-size: 70px;
        color: var(--fundo-pop);
    }

    .plus{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }

    .caracteres{
        font-weight: 800;
    }

    /* Section pequena */

    #fogo{
        max-width: 100%;
        height: auto;
        width: 150px;
        margin: 0 0 0 -30px;
    }

    .conheca h2{
        position: relative;
        z-index: 2;
        margin: 0 1em 0 -2em;
    }

    .conheca{
        padding: 0 1em;
    }


    .foguinho{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #circulo-pequeno{
        display: none;
    }

    /* Section Sobre Palestra */

   

    .palestra img, .titulo img{
        max-width: 100%;
        height: auto;
    }

    .pop-palestra p{
        color: var(--branco);
    }

    .titulo img{
        width: 50px;
    }

    .titulo{
        display: flex;
        align-items: center;
        gap: 2em;
        font-size: 18px;
        text-align: start;
        color: var(--branco);
        padding: 1em;
    }

    #palestrante{
        width: 150px;
    }

    .pop-palestra{
        display: flex;
        align-items: center;
        padding: 1em;
    }

    .caixa-branca{
        text-align: center;
        justify-content: center;
        color: black;
        background-color: var(--branco);
        border: 1px solid var(--branco);
        border-radius: 12px;
        width: 50%;
        padding: 10px 25px;
        margin: 0 0 0 4em;
        display: flex;
        flex-direction: column;
        gap: 2em;
    }

    /* Section sobre os numeros do POP */

    .kids{
        max-width: 100%;
        height: auto;
        width: 200px;
    }

    .numeros-{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1em;
        gap: 1em;
    }

    .botao__numero{
        margin: 3em 0 0 0;
        background-color: var(--azul-escuro);
        border: 0px;
        border-radius: 12px;
        color: var(--branco);
        padding: 10px 10px;
        text-align: center;
        text-decoration: none;
        margin: 0;
    }

    .numeros-reais{
        display: none;
    }

    .clique{
        color: var(--fundo-azul);
        text-align: center;
        position: relative;
        top: -10px; left: 10px;
        margin: 0 0 1em 1em;
    }

    /* Section sobre os descontos */

    .titulo-desconto img{
        max-width: 100%;
        height: auto;
        width: 80px;
    }

    .titulo-desconto{
        display: flex;
        padding: 1em;
        align-items: center;
        justify-content: center;
        gap: 2em;
        padding: 1.5em;
    }

    .titulo-desconto h2{
        color: var(--branco);
    }

    .desconto p{
        text-align: center;
        color: var(--branco);
    }

    .card img{
        max-width: 100%;
        height: auto;
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: .5em 2em;
        gap: 1em;
    }

    .clique2{
        color: var(--branco);
        text-align: center;
        position: relative;
        top: 0px; left: 12px;
        margin: 0 0 0 1em;
        font-size: 16px;
    }


    /* Section sobre a Colação */

    .colacao h2{
        padding: 1em;
        color: var(--fundo-azul);
        text-align: center;
        font-weight: 700;
    }

    .quimica img{
        max-width: 100%;
        height: auto;
        width: 300px;
    }

    .quimica p{
        text-align: center;
        padding: 1em;
        color: var(--fundo-azul);
    }

    .quimica{       
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    /* Section sobre ações */
    .acoes p{
        color: var(--branco);
        text-align: center;
        padding: 1em;
    }

    .acoes3 img{
        max-width: 100%;
        height: auto;
        width: 70px;
    }

    .acoes3 h2{
        color: var(--branco);
    }

    .acoes3{
        display: flex;
        align-items: center;
        padding: 1em;
        gap: 2em;
    }

    #circulo-acoes{
        display: none;
    }

    /* Section sobre o Premio Lavoisier */

    .lavo{
        display: flex;
    }

    .medalha img{
        max-width: 100%;
        height: auto;
        width: 500px;
        padding: 0;
        position: relative;
        top: -20px;
    }

    .texto-lavo{
        color: var(--branco);
        text-align: start;
    }

    .texto-lavo h2{
        padding: 1em;
        font-size: 20px;
        font-weight: 700;
    }

    .texto-lavo p, .texto-lavo ul{
        padding: .5em;
        font-size: 16px;
    }

    .texto-lavo a{
        color: var(--branco);
    }

    /* Section sobre o premio crq-sp */

    .crq-sp{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 1em;
        color: var(--fundo-azul);
    }

    .crq-sp img{
        max-width: 100%;
        height: auto;
        width: 200px;
        align-items: center;
        margin: 15px 0 0 0;
    }

    .crq-sp h2{
        font-size: 22px;
        font-weight: 700;
        padding: .5em;
    }

    .crq-sp p{
        padding: 1em;
    }

    .crq-sp a{
        color: var(--fundo-azul);
        font-size: 16px;
        padding: 1em;
    }

    /* Section sobre os Cursos */
    .four img{
        max-width: 100%;
        height: auto;
        width: 60px;
    }

    .four{
        display: flex;
        align-items: center;
        gap: 2em;
        padding: 1em;
    }

    .four h2{
        font-weight: 700;
    }

    .cursos p{
        text-align: center;
    }

    .cursos p, .four h2{
        color: var(--branco);
    }

    /* Section sobre contato */

    .contato{
        text-align: center;
        padding: 1em;
        color: var(--fundo-azul);
    }

    /* Rodape */

    .rodape{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1em;
        color: var(--branco);
    }

    #logo-branco{
        max-width: 100%;
        height: auto;
        width: 160px;
        margin: .5em 0 0 0;
    }

    .texto-rodape{
        display: flex;
        gap: 1em;
        text-align: center;
        align-items: center;
    }

    .texto-rodape h2{
        color: var(--fundo-pop);
        font-size: 30px;
    }

    .final{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1em;
    }
    

/* Responsivo Tablet */

@media (min-width: 768px){

    /* Banner Inicio */

    .inicio{
        padding: 2em;
    }

    .circulo{        
        max-width: 100%;
        height: auto;
        width: 200px;
        top: -50px; left: -90px;
    }


    .tudo{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .crq-pop{
        display: flex;
        flex-direction: column;
        align-items: center;        
    }
    
    .inicio span img{
        width: 200px;
        top: -60px;
        margin: 0 10px 0 0;
    }

    .texto{
        margin: 0 0 .3em 4em;
        top: -50px; left: -30px;
    }

    .crq-pop p, .crq-pop a{
        top: -50px;
    }

    .crq-pop p{
        font-size: 16px;
    }

    .crq-pop h1{
        font-size: 50px;
        color: var(--fundo-pop);
    }   

    .crq-pop h2{
        font-size: 20px;
    }

    .crq-pop a {
        font-size: 18px;
    }

    .imagens{
       display: grid;
       grid: repeat(2, 320px) / auto-flow 160px;
    }

    .imagens img{
        position: relative;
        left: -10px;
    }

    #garota, #copos{
        position: relative;
        top: 20px; left: 10px;
    }

    #usina{
        z-index: 2;
        position: relative;
        top: -50px;
    }

    #bolinhas{
        max-width: 100%;
        height: auto;
        width: 190px;
        position: relative;
        top: 110px; left: -200px;
        transform: rotate(-90deg);
        z-index: 1;
    }

    /* Section de 30 anos */

    .anos{
        padding: 2.5em;
    }

    .anos h2{
        font-size: 25px;
    }

    #circulo{
        top: 80px; left: -100px;
        width: 200px;
    }

    .grupo p{
        font-size: 20px;
    }

    .grupo{
        margin: 1em 0 0 0;
        flex-direction: row;
        align-items: center;
        gap: 1em;
    }

    .grupo img{
        width: 350px;
        z-index: 2;
    }


    /* Section de Explicacao POP*/

    .plus-crq{
        padding: 2em;
    }

    .plus-crq h2{
        text-align: start;
        font-size: 25px;
    }

    .plus img{
        width: 120px;
    }

    .plus span{
        font-size: 50px;
    }

    .plus{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1em;
    }

    /* Section pequena */

    #fogo{
        width: 150px;
        margin: 0 0 0 -70px;
    }

    .conheca h2{
        margin: .5em 0 0 -1.7em;
        font-size: 22px;
    }

    .conheca{
        padding: 0 5em;
        justify-content: start;
        display: flex;
    }


    .foguinho{
        display: flex;
        justify-content: start;
        align-items: center;
    }

    #circulo-pequeno{
        display: block;
        filter: brightness(30%);
        max-width: 100%;
        height: auto;
        width: 150px;
        transform: rotate(180deg);
        opacity: 30%;
        position: relative;
        top: 23px; left: 100px;
    }

    /* Section Sobre Palestra */

    .palestra{
        padding: 2em;
    }

    .titulo img{
        width: 60px;
    }

    .titulo{
      font-size: 22px;
      font-weight: 700;
    }

    #palestrante{
        width: 200px;
    }

    .pop-palestra p{
        font-size: 20px;
    }

    .caixa-branca{
        width: 50%;
        padding: 15px 20px;
        margin: 0 0 0 1em;
        font-size: 18px;
    }

    .caixas{
        display: flex;
    }

    /* Section sobre os numeros do POP */

    .kids{
        width: 700px;
    }

    .numeros{
        padding: 2em;
    }

    .botao__numero{
        display: none;
    }

    .numeros-reais{
        display: block;
    }

    .numeros-listas p{
        font-size: 18px;
    }

    .numeros-listas h2{
        font-weight: 700;
        font-size: 22px;
    }

    .clique{
        color: var(--fundo-azul);
        text-align: center;
        position: relative;
        top: -20px; left: -3px;
        font-size: 18px;
    }

    /* Section sobre os descontos */

    .desconto{
        padding: 2em;
    }

    .titulo-desconto img{
        width: 60px;
    }

    .titulo-desconto h2{
        font-size: 22px;
        font-weight: 700;
    }

    .desconto p{
        text-align: start;
        margin: 0 0 0 2em;
        font-size: 18px;
    }

    .card{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1em 0;
    }

    .card img{
        width: 170px;
    }

    .clique2{
        top: 5px; left: 15px;
        font-size: 16px;
    }


    /* Section sobre a Colação */

    .colacao{
        padding: 2em;
    }

    .colacao h2{
        text-align: start;
        font-weight: 700;
        font-size: 22px;
    }

    .quimica img{
        width: 700px;
    }

    .quimica p{
        text-align: start;
        font-size: 18px;
    }

    .quimica{       
       flex-direction: row;
    }

    /* Section sobre ações */

    .acoes{
        padding: 2em;
    }

    .acoes p{
        text-align: start;
        font-size: 18px;
    }

    .acoes3 img{
        width: 60px;
    }

    .acoes3 h2{
        font-size: 22px;
        font-weight: 700;
    }

    /* Section sobre o Premio Lavoisier */

    .lavo{
        padding: 2em;
    }

    .medalha img{
        width: 500px;
        margin-top: -20px;
    }

    .texto-lavo{
        text-align: start;
    }

    .texto-lavo h2{
        padding: 0 1em;
        font-size: 25px;
        font-weight: 700;
    }

    .texto-lavo p, .texto-lavo ul{
        padding: 1em 1.3em;
        font-size: 20px;
    }

    .texto-lavo a{
        font-size: 20px;
    }

    /* Section sobre o premio crq-sp */

    .crq-sp{
        text-align: start;
        padding: 2em;
    }

    .lista-premio{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;
    }

    .profissionais-lista{
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        gap: 2em;
    }
    
    .premio-li{
        font-size: 18px;
    }

    #titulo{
        font-size: 20px;
    }

    .crq-sp img{
        max-width: 100%;
        height: auto;
        width: 200px;
        align-items: center;
        margin: 1em 0 1em 5em;
    }

    .crq-sp h2{
        font-size: 26px;
        font-weight: 700;
        padding: .5em;
    }

    .crq-sp p{
        padding: 1em;
        font-size: 18px;
    }

    .crq-sp a{
        font-size: 18px;
        padding: 1em;
    }

    /* Section sobre os Cursos */

    .cursos{
        padding: 2em;
    }

    .four img{
        width: 60px;
    }

    .four h2{
        font-weight: 700;
        font-size: 22px;
    }

    .cursos p{
        text-align: start;
        font-size: 18px;
        padding: 1.5em 1em;
    }

    /* Section sobre contato */

    .contato{
        text-align: start;
        padding: 2.5em;
        font-size: 22px;
    }


    /* Rodape */

    .rodape{
        padding: 2em;
    }

    #logo-branco{
        width: 250px;
        margin: .5em 0 1em 0;
    }

    .texto-rodape h2{
        font-size: 50px;
    }

    .texto-rodape h3{
        font-size: 25px;
    }

    .final p{
        font-size: 20px;
    }

}

@media (min-width: 992px){
      /* Banner Inicio */

      .inicio{
        padding: 1em 6em;
    }

    .circulo{        
        max-width: 100%;
        height: auto;
        width: 300px;
        top: -30px; left: -200px;
    }
    
    .inicio span img{
        width: 250px;
        top: -150px;
        margin: 0 10px 0 0;
    }

    .texto{
        margin: 0 0 .3em 4em;
        top: -140px; left: -30px;
    }

    .crq-pop p, .crq-pop a{
        top: -150px;
    }

    .crq-pop p{
        font-size: 18px;
    }

    .crq-pop h1{
        font-size: 70px;
    }   

    .crq-pop h2{
        font-size: 30px;
    }

    .crq-pop a {
        font-size: 18px;
    }

    .imagens img{
        position: relative;
        width: 170px;
        left: -50px;
    }

    #garota, #copos{
        position: relative;
        top: 40px; left: 10px;
    }

    #usina{
        top: 5px
    }

    #bolinhas{
        width: 250px;
        top: 40px; left: -320px;
    }

    /* Section de 30 anos */

    .anos{
        padding: 1em 5em;
    }


    #circulo{
        top: 80px; left: -150px;
        width: 200px;
    }



    /* Section de Explicacao POP*/

    .plus-crq{
        padding: 1em 5em;
    }

    .plus-crq h2{
        text-align: start;
        font-size: 25px;
    }

    .plus img{
        width: 120px;
    }

    .plus span{
        font-size: 50px;
    }

    .plus{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1em;
    }

    /* Section pequena */


    .conheca{
        padding: 0 8em;
    }
    
    /* Section Sobre Palestra */

    .palestra{
        padding: 1.5em 5em;
    }

    /* Section sobre os numeros do POP */

    .numeros{
        padding: 1em 5em;
    }


    /* Section sobre os descontos */

    .desconto{
        padding: 1em 5em;
    }

    .titulo-desconto{
        justify-content: start;
    }

    .card img{
        width: 220px;
    }

    /* Section sobre a Colação */

    .colacao{
        padding: 1em 5em;
    }

    /* Section sobre ações */

    .acoes{
        padding: 1em 5em;
    }

    /* Section sobre o Premio Lavoisier */

    .lavo{
        padding: 1em 5em;
    }

    .medalha img{
        width: 500px;
        margin-top: 0;
    }

    /* Section sobre o premio crq-sp */

    .crq-sp{
        padding: 1em 5em;
    }

    /* Section sobre os Cursos */

    .cursos{
        padding: 1em 5em;
    }

    /* Section sobre contato */

    .contato{
        padding: 1em 5em;
    }


    /* Rodape */

    .rodape{
        padding: 1em 5em;
    }

}

/* Resposivo Computador */

@media (min-width: 1400px){

    /* Banner Inicio */

    .tudo{
        padding: 1.5em 6em;
    }

    .texto{
        gap: 2em;
        top: -130px;
    }

    .circulo{
        width: 300px;
        left: -200px;
    }

    .inicio span img{
        width: 300px;
    }


    .crq-pop p{
        border: 3px solid var(--branco);
        padding: 18px 18px;
        border-radius: 18px;
        margin: 1em 0 1em 0;
        font-size: 28px;
    }

    .crq-pop h1{
        font-size: 90px;
    }   

    .crq-pop h2{
        font-size: 50px;
    }

    .crq-pop a {
        margin: 0 0 -140px 0;
        font-size: 30px;
    }

    .imagens{
       display: grid;
       grid: repeat(2, 450px) / auto-flow 200px;
    }

    .imagens img{
        width: 300px;
    }


    #bolinhas{
        width: 350px;
        top: -30px; left: -680px;

    }

    /* Section de 30 anos */

    .anos{
        padding: 4em 15em;
    }


    #circulo{
        top: 150px; left: -360px;
        width: 350px;
    }

    .anos h2{
        font-size: 26px;
        text-align: start;
    }

    .grupo p{
        font-size: 24px;
        margin-left: 4em;
    }

    .grupo img{
        width: 550px;
    }

    /* Section de Explicacao POP*/

    .plus-crq{
        padding: 3em 15em;
    }

    .plus img{
        width: 200px;
        margin: 0 0 1em 0;
    }

    .plus span{
        font-size: 90px;
    }

    /* Section pequena */

    #fogo{
        max-width: 100%;
        height: auto;
        width: 230px;
        margin: 0 0 0 -20px;
    }

    .conheca h2{
        font-size: 28px;
    }

    .conheca{
        padding: 0 15em;
        justify-content: start;
    }

    #circulo-pequeno{
        width: 260px;
        opacity: 10%;
        top: 5px; left: 250px;
    }

    /* Section Sobre Palestra */

    .palestra{
        padding: 2em 15em;
    }

    .titulo img{
        width: 80px;
    }

    .titulo h2{
        font-size: 28px;
    }

    #palestrante{
        width: 300px;
    }

    .pop-palestra p, .caixa-branca{
        font-size: 22px;
    }

    .caixa-branca br{
        display: none;
    }

    .caixas{
        display: flex;
    }

    /* Section sobre os numeros do POP */

    .numeros{
        padding: 2em 15em;
    }

    /* Section sobre os descontos */

    .desconto{
        padding: 2em 15em;
    }

    .titulo-desconto img{
        width: 80px;
    }

    .titulo-desconto h2{
        font-size: 28px;
    }

    .titulo-desconto{
        justify-content: start;
    }

    .desconto p{
        margin: 0 0 0 1em;
        font-size: 22px;
    }

    .card img{
        max-width: 100%;
        height: auto;
        width: 350px;
    }

    .clique2{
        font-size: 22px;
    }


    /* Section sobre a Colação */

    .colacao{
        padding: 2em 15em;
    }

    .colacao h2{
         font-size: 28px;
    }

    .quimica img{
        width: 900px;
    }

    .quimica p{
        font-size: 23px;
    }

    /* Section sobre ações */

    .acoes{
        padding: 2em 15em;
    }

    .acoes img{
        width: 80px;
    }

    .acoes h2{
        font-size: 28px;
    }

    .acoes p{
        font-size: 24px;
    }    

    /* Section sobre o Premio Lavoisier */

    .lavo{
        padding: 2em 15em;
    }

    .medalha img{
        width: 250px;
        margin-top: -20px;
    }

    .texto-lavo{
        text-align: start;
    }

    .texto-lavo h2{
        font-size: 28px;
    }

    .texto-lavo p, .texto-lavo ul{    
        font-size: 22px;
    }

    .texto-lavo a{
        font-size: 22px;
    }

    /* Section sobre o premio crq-sp */

    .crq-sp{
        padding: 2em 15em;
    }

    .premio-li, #titulo, .crq-sp p, .crq-sp a{
        font-size: 22px;
    }
    
    .crq-sp h2{
        font-size: 28px;
    }

    .crq-sp img{
        width: 250px;
    }


    /* Section sobre os Cursos */

    .cursos{
        padding: 2em 15em;
    }

    .cursos p{
        font-size: 22px;
    }

    .cursos h2{
        font-size: 28px;
    }

    .cursos img{
        width: 80px;
    }

    /* Section sobre contato */

    .contato{
        padding: 2em 13em;
        font-size: 23px;
    }


    /* Rodape */

}


